/.env
/.env.*
!/.env.example
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/.phpunit.cache
/.idea
/.vscode
/.npm-cache
/.phpunit.result.cache
/database-example/
*.sql
*.sql.gz
/auth.json
/.aws/
/.codex/
/.agents/
*.pem
